<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Permission</title>
    <link rel="stylesheet" href="invalid.css">
</head>
<body>
    <div class="invalid">
        <img src="oops.jpg" alt="oops">
        <h3>Invalid Username or Password</h3>
        <p>Click <a href="/"> here</a> to retry</p>
    </div>
</body>
</html>