
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
    
            <ul class="nav navbar-nav">
                <li><a href="/admin/home">Home</a></li>
                <li><a href="/admin/settings">About Me</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
        <div class="navbar-header" style="float:right">
    
            <ul class="nav navbar-nav">
                <li><a href="http://www.walchandsangli.ac.in">Visit College Website</a></li>
                <li><a href="http://112.133.242.241">WCE Moodle</a></li>
            </ul>
        </div>
    
    </div>
</nav>