<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Permission</title>
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<body>
    <header>
        <%- include ("../partials/adminheader") %>
    </header>
    <h3 class="jumbotron text-center" >Welcome <b><%=user %></b></h3>
    
    <div class="login-form">
        <h4 style="text-align: center; ;"><%=data%></h4>
    </div>
    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>
</html>